apiVersion: v1
kind: Secret
metadata:
  name: shopease-secrets
  namespace: shopease
  labels:
    app: shopease
    environment: prod
type: Opaque
data:
  DB_USER: "<base64-encoded-username>"
  DB_PASSWORD: "<base64-encoded-password-from-secrets-manager>"
